@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image: url(./rsrc/ashim-d-silva-WeYamle9fDM-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nunito Sans", sans-serif;
    color: white;
}

#weather {
    height: 60vh;
    width: 35vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#mainCard {

    height:38vh;
    width: 30vw;
    background-color: #623a4cd9;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

}


#city{
    padding:0px 20px 0px 20px;
    width: 90%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#cityData{
    display: flex;
    align-items: center;
    
}

 #logo{
height: 10vh;
width: 4.8vw;
border-radius: 100%;
background-color: rgba(255, 255, 255, 0.316);
display: flex ;
justify-content: center;
align-items: center;

}

#weatherLogo{
    width: 5vw;
}

#condition{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
}


.weatherData{
    padding:0px 20px 0px 20px;
    width: 90%;
    height: 10vh;
    display: flex;
    align-items: center;

}


.data{
display: flex;
align-items: center;


}

.weatherIcons{
    width: 1.5vw;
}




.visibilityHumidity{

margin-left: 50px;

}

#tempData{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: fit-content;
    margin-left: 50px;
}

#tempreature{

font-size: 2.5rem;

}

#celcius{
    font-size: 2rem;
    margin-left: 10px;

}



#searchCity{

    border-radius: 50px;
    height: 15vh;
    width: 30vw;
    background-color: #7a343483;
    display: flex ;
    align-items: center;
    justify-content: space-around;
    transition: 0.5s;

}
#cityNameInput{
    border: none;
    height: 40px;
    width: 250px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.571);
    padding: 0px 20px 0px 10px;
    font-size: 0.9rem;
    font-weight: bold;
}

#searchBtn{
border: none;
height: 40px;
width: 100px;
border-radius: 30px;
background-color: #65292E;
color: white;
transition: 0.5s;
cursor: pointer;

}

#searchBtn:hover{
    background-color: #E68340
    
}